@font-face {
    font-family: "AbigailAdams";
    font-display: swap;
    src: url("./AbigailAdams.eot") format("eot"),
         url("./AbigailAdams.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "AmericanScribe";
    font-display: swap;
    src: url("./AmericanScribe.eot") format("eot"),
         
         url("./AmericanScribe.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Cristone";
    font-display: swap;
    src: url("./Cristone.eot") format("eot"),
         
         url("./Cristone.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "DouglassPen";
    font-display: swap;
    src: url("./DouglassPen.eot") format("eot"),
         
         url("./DouglassPen.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "OldManEloquent";
    font-display: swap;
    src: url("./OldManEloquent.eot") format("eot"),
        
         url("./OldManEloquent.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Seagram tfb";
    font-display: swap;
    src: url("./Seagram tfb.eot") format("eot"),
         
         url("./Seagram tfb.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Sons of Pain M.C.";
    font-display: swap;
    src: url("./Sons of Pain M.C..eot") format("eot"),
         url("./Sons of Pain M.C..ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "TexasHero";
    font-display: swap;
    src: url("./TexasHero.eot") format("eot"),
        
         url("./TexasHero.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  