.App {
  text-align: center;
  height: 100vh;
}

header {
  background-color: #222222;
  height: 10%;
  display: flex;
  align-items: center;
}

header h2 {
  color: wheat;
  font-family: 'OldManEloquent';
  margin: 0 auto;

  
  
}

header .sns {
  position: absolute;
  right: 10%;
  height: 100%;
  align-items: center;
  display: flex;
}

.twitter {
  font-size: 30px;
  color: rgb(194, 182, 166, 0.8);
  cursor: pointer;
  
}


/* 지울거 */


.wrapper {
  background: purple;
 
}

main {
  background: purple;
  width: 100wv;
  height: 100%;
  
}


